# vim: set filetype=conf:
# ANSIBLE-MANAGED CONFIGURATION FILE
# Local config sample:
#   {{ picom_config_path }}.sample
# Upstream config source:
#   https://github.com/yshui/picom/blob/next/picom.sample.conf

# fade window transitions and window open/close
fading = {{ 'true' if fade_window_open_close else 'false' }};

